body {
    background-color: #0009e6;
}

.main {
    margin: 5em auto 1ex;
    width: 30%;
}

h2 {
    font-size: 2em;
    padding-bottom: 35px;
    color: #0091e6;
    text-align: center;
    margin-top: -40px;
    margin-left: 39px;
}

.login {
    padding: 2em 0;
}

.inset {
    position: relative;
    background: #fff;
    padding: 2.5em;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    box-shadow: 0px 0px 15px #545454;
}

form span {
    display: block;
    font-size: 1.0em;
    color: #333;
    font-weight: 400;
}

input[type="text"], input[type="password"] {
    padding: 9px;
    width: 93.4%;
    font-size: 1.1em;
    margin: 0px;
    color: #666666;
    border: 1px solid #c7c7cc;
    font-weight: 400;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    background: #ffffff !important;
}

input[type="text"]:focus, input[type="password"]:focus {
    padding: 9px;
    width: 93.4%;
    font-size: 1.1em;
    margin: 0px;
    color: #666666;
    border: 1px solid #c7c7cc;
    font-weight: 400;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    background: #ffffff !important;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #ffffff !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

input[type="text"]:hover, input[type="Password"]:hover, #active {

}

.sign {
    padding: 10px 0 0;
    text-align: center;
}

.submit {
    margin-right: 11px;
    background: #0091e6;
    border: none;
    outline: none;
    padding: 8px 90px;
    cursor: pointer;
    color: #FFF;
    font-size: 0.9em;
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -o-border-radius: .3em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-weight: 600;
    margin: 0 auto;
}

.submit:hover {
    background: #C5C5C5;
}

.text-error {
    color: #b94a48;
}

.font-s-14 {
    font-size: 14px;
}