<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>朗玛药房管理后台</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="__PUBLC__/css/Main/main.css">
    <link rel="stylesheet" href="__PUBLIC__/css/Main/page.css">
</head>
<body>
<include file="Main:header"/>
<include file="Main:negotia"/>
<div id="changePage">
    <include file="Main:mainPage"/>
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/Common/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Main/main.js"></script>
</html>
