<link rel="stylesheet" href="__PUBLIC__/css/Main/negotia.css">
<div class="nego_style">
    <div class="nego_position">
        <ul>
            <div id="main_page" class="active">
                <li class="item">首页</li>
            </div>
            <div id="dispensary_page" class="noactive">
                <li class="item">药房管理</li>
            </div>
            <div id="window_page" class="noactive">
                <li class="item">窗口管理</li>
            </div>
            <div id="account_page" class="noactive">
                <li class="item">账户管理</li>
            </div>

        </ul>
    </div>
</div>
